URxvt.perl-ext-common: ..., keyboard-select
URxvt.perl-lib: ~/.urxvt/ext/
URxvt.font: xft:mono:medium:size=9
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.color12: rgb:5c/5c/ff

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800

URxvt.perl-ext:   default,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
URxvt*iso14755: False
URxvt*iso14755_52: False

URxvt.scrollBar: false

*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15: #E6E6E6
